/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html { 
        background: url(small_check.webp) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }
    /* Upgrades CSS */
    section.ftop {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

/* For vehicle display in classification view */
ul#inv-display {
  flex-flow: row wrap;
  justify-content: flex-start;
}

ul#inv-display h2{
  font-size: 1rem;
}

ul#inv-display li {
  max-width: 600px;
  flex: 1 0 auto;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
    
ul#inv-display div {
  width: 100%;
}






}