<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Regular Expressions in forms</title>
</head>
<body>
    <form action="#">
        <label for="regex">Regular Expression Test</label><br>
        <input type="text" name="regex" id="regex" pattern="[^ae]{3}" title="">
        <input type="submit" name="submit" id="regEx" value="Test">
    </form>
</body>
</html>